<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
        <h2>Giỏ Hàng</h2>
        <table class="table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã Phim</th>
              <th>Tên Phim</th>
              <th>Hình Ảnh</th>
              <th>Mô Tả</th>
              <th>Ngày Khởi Chiếu</th>
              <th>Đánh giá</th>
              <th>Thao Tác</th>
            </tr>
          </thead>
          <tbody id="tblbody">
            
          </tbody>
        </table>
      </div>
      

   
    
  </body>
</html>
